code/nodered-edge/flows.json
[
    {
        "id": "5d2ab3a95d5847f9",
        "type": "tab",
        "label": "Subscriber",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af2d12934ad47d49",
        "type": "tab",
        "label": "Health",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5a6f546862acaaca",
        "type": "mqtt-broker",
        "name": "mqtt-broker",
        "broker": "iot-edge-mqtt-broker",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6ad063c1b850f955",
        "type": "global-config",
        "env": [
            {
                "name": "API_BASE_URL",
                "value": "https://130.251.61.98/api/nodered",
                "type": "str"
            },
            {
                "name": "API_KEY",
                "value": "JdhLhlekl6p9XTE7",
                "type": "str"
            },
            {
                "name": "GLYCEMIC_MIN",
                "value": "0",
                "type": "str"
            },
            {
                "name": "GLYCEMIC_MAX",
                "value": "250",
                "type": "str"
            },
            {
                "name": "HEART_RATE_MIN",
                "value": "0",
                "type": "str"
            },
            {
                "name": "HEART_RATE_MAX",
                "value": "250",
                "type": "str"
            },
            {
                "name": "BLOOD_PRESSURE_DIA_MIN",
                "value": "0",
                "type": "str"
            },
            {
                "name": "BLOOD_PRESSURE_DIA_MAX",
                "value": "250",
                "type": "str"
            },
            {
                "name": "BODY_TEMPERATURE_MIN",
                "value": "0",
                "type": "str"
            },
            {
                "name": "BODY_TEMPERATURE_MAX",
                "value": "250",
                "type": "str"
            },
            {
                "name": "RESPIRATORY_RATE_MIN",
                "value": "0",
                "type": "str"
            },
            {
                "name": "RESPIRATORY_RATE_MAX",
                "value": "120",
                "type": "str"
            },
            {
                "name": "SPO2_MIN",
                "value": "0",
                "type": "str"
            },
            {
                "name": "SPO2_MAX",
                "value": "100",
                "type": "str"
            },
            {
                "name": "DEVICE_ID",
                "value": "device-1",
                "type": "str"
            },
            {
                "name": "BLOOD_PRESSURE_SYS_MIN",
                "value": "0",
                "type": "str"
            },
            {
                "name": "BLOOD_PRESSURE_SYS_MAX",
                "value": "200",
                "type": "str"
            }
        ],
        "modules": {
            "node-red-contrib-redis": "1.4.0",
            "node-red-contrib-full-msg-json-schema-validation": "1.1.0"
        }
    },
    {
        "id": "fdba33394fbf0491",
        "type": "redis-config",
        "name": "Local",
        "options": "{\"host\":\"redis\",\"port\":6379,\"db\":0}",
        "cluster": false,
        "optionsType": "json"
    },
    {
        "id": "ba0f89f1ca0d9073",
        "type": "mqtt in",
        "z": "5d2ab3a95d5847f9",
        "name": "",
        "topic": "vitals/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5a6f546862acaaca",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 480,
        "wires": [
            [
                "c0fe214dba790d99"
            ]
        ]
    },
    {
        "id": "0ba4221c1aaa06b8",
        "type": "switch",
        "z": "5d2ab3a95d5847f9",
        "name": "bp_sys",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vitals/bp_sys",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 920,
        "y": 360,
        "wires": [
            [
                "7070b843977287f6"
            ]
        ]
    },
    {
        "id": "5e27eae68bc20174",
        "type": "switch",
        "z": "5d2ab3a95d5847f9",
        "name": "body_temperature",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vitals/temp",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 640,
        "wires": [
            [
                "e272d83a930e4d82"
            ]
        ]
    },
    {
        "id": "0aa7d826610f792d",
        "type": "switch",
        "z": "5d2ab3a95d5847f9",
        "name": "respiratory_rate",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vitals/rr",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 780,
        "wires": [
            [
                "7f5aa84dea703d64"
            ]
        ]
    },
    {
        "id": "bd49e5b33cb854e2",
        "type": "switch",
        "z": "5d2ab3a95d5847f9",
        "name": "heart_rate",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vitals/hr",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 930,
        "y": 200,
        "wires": [
            [
                "ae29fd22ec74076c"
            ]
        ]
    },
    {
        "id": "4f033bc2754cf589",
        "type": "switch",
        "z": "5d2ab3a95d5847f9",
        "name": "spo2",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vitals/spo2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 920,
        "wires": [
            [
                "20d09590ab114110"
            ]
        ]
    },
    {
        "id": "1783ac45c936098c",
        "type": "switch",
        "z": "5d2ab3a95d5847f9",
        "name": "glycemic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vitals/gluco",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 920,
        "y": 80,
        "wires": [
            [
                "17e990cd9d9884bb"
            ]
        ]
    },
    {
        "id": "c7cf341ec53f2bbc",
        "type": "function",
        "z": "5d2ab3a95d5847f9",
        "name": "filter",
        "func": "const minVal = parseFloat(env.get(\"GLYCEMIC_MIN\"));\nconst maxVal = parseFloat(env.get(\"GLYCEMIC_MAX\"));\n\nconst val = parseFloat(msg.payload.value);\n\nif (isNaN(val)) return null;\n\nif (val < minVal || val > maxVal) return null;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 80,
        "wires": [
            [
                "5e3417dd3ab9f9a9",
                "7431ec1a536d8836"
            ]
        ]
    },
    {
        "id": "0d3288fba1510b7c",
        "type": "function",
        "z": "5d2ab3a95d5847f9",
        "name": "filter",
        "func": "const minVal = parseFloat(env.get(\"HEART_RATE_MIN\"));\nconst maxVal = parseFloat(env.get(\"HEART_RATE_MAX\"));\n\nconst val = parseFloat(msg.payload.value);\n\nif (isNaN(val)) return null;\nif (val < minVal || val > maxVal) return null;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 200,
        "wires": [
            [
                "5e3417dd3ab9f9a9",
                "7431ec1a536d8836"
            ]
        ]
    },
    {
        "id": "70b9ac6f1a8834af",
        "type": "function",
        "z": "5d2ab3a95d5847f9",
        "name": "filter",
        "func": "const minVal = parseFloat(env.get(\"BLOOD_PRESSURE_SYS_MIN\"));\nconst maxVal = parseFloat(env.get(\"BLOOD_PRESSURE_SYS_MAX\"));\n\nconst val = parseFloat(msg.payload.value);\n\nif (isNaN(val)) return null;\n\nif (val < minVal || val > maxVal) return null;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 360,
        "wires": [
            [
                "5e3417dd3ab9f9a9",
                "7431ec1a536d8836"
            ]
        ]
    },
    {
        "id": "c0fe214dba790d99",
        "type": "function",
        "z": "5d2ab3a95d5847f9",
        "name": "create redis request",
        "func": "const { payload, topic, ...otherProps } = msg;\n\nreturn {\n    ...otherProps,\n    sensorData: payload,\n    sensorTopic: topic,\n    command: \"GET\",\n    topic: \"sessionId\",\n    params: [],\n    payload: null\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 480,
        "wires": [
            [
                "6d9ba8b04a2e2ad1"
            ]
        ]
    },
    {
        "id": "8980c681befc0987",
        "type": "function",
        "z": "5d2ab3a95d5847f9",
        "name": "merge result",
        "func": "const sessionId = msg.payload;\nif(sessionId === null) return null;\nmsg.payload = msg.sensorData;\nmsg.topic = msg.sensorTopic;\nmsg.payload.sessionId = sessionId;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 480,
        "wires": [
            [
                "4f033bc2754cf589",
                "1783ac45c936098c",
                "bd49e5b33cb854e2",
                "0ba4221c1aaa06b8",
                "5e27eae68bc20174",
                "0aa7d826610f792d",
                "348afaa9fd45424a"
            ]
        ]
    },
    {
        "id": "348afaa9fd45424a",
        "type": "switch",
        "z": "5d2ab3a95d5847f9",
        "name": "bp_dia",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vitals/bp_dia",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 500,
        "wires": [
            [
                "f82c8bc9b3c89540"
            ]
        ]
    },
    {
        "id": "4537251eb751010c",
        "type": "function",
        "z": "5d2ab3a95d5847f9",
        "name": "filter",
        "func": "const minVal = parseFloat(env.get(\"BLOOD_PRESSURE_DIA_MIN\"));\nconst maxVal = parseFloat(env.get(\"BLOOD_PRESSURE_DIA_MAX\"));\n\nconst val = parseFloat(msg.payload.value);\n\nif (isNaN(val)) return null;\nif (val < minVal || val > maxVal) return null;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 500,
        "wires": [
            [
                "5e3417dd3ab9f9a9"
            ]
        ]
    },
    {
        "id": "a7cec0324cad1d34",
        "type": "function",
        "z": "5d2ab3a95d5847f9",
        "name": "filter",
        "func": "const minVal = parseFloat(env.get(\"RESPIRATORY_RATE_MIN\"));\nconst maxVal = parseFloat(env.get(\"RESPIRATORY_RATE_MAX\"));\n\nconst val = parseFloat(msg.payload.value);\n\nif (isNaN(val)) return null;\nif (val < minVal || val > maxVal) return null;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 780,
        "wires": [
            [
                "5e3417dd3ab9f9a9",
                "7431ec1a536d8836"
            ]
        ]
    },
    {
        "id": "217762caf1864988",
        "type": "function",
        "z": "5d2ab3a95d5847f9",
        "name": "filter",
        "func": "const minVal = parseFloat(env.get(\"BODY_TEMPERATURE_MIN\"));\nconst maxVal = parseFloat(env.get(\"BODY_TEMPERATURE_MAX\"));\n\nconst val = parseFloat(msg.payload.value);\n\nif (isNaN(val)) return null;\nif (val < minVal || val > maxVal) return null;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 640,
        "wires": [
            [
                "5e3417dd3ab9f9a9",
                "7431ec1a536d8836"
            ]
        ]
    },
    {
        "id": "fcbe1a2b8e8539de",
        "type": "function",
        "z": "5d2ab3a95d5847f9",
        "name": "prepare http request",
        "func": "const baseUrl = env.get(\"API_BASE_URL\");\nconst deviceId = env.get(\"DEVICE_ID\");\nconst apiKey = env.get(\"API_KEY\");\n\nmsg.url = baseUrl + \"/\" + msg.topic;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": apiKey\n};\nmsg.payload = {\n    timestamp: msg.payload.event_ts,\n    type: msg.payload.type,\n    unit: msg.payload.unit,\n    value: msg.payload.value,\n    device_id: deviceId,\n    sessionId: msg.payload.sessionId\n};\nmsg.method = \"POST\";\nmsg.rejectUnauthorized = false;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 540,
        "wires": [
            [
                "eac9b4263652f19e"
            ]
        ]
    },
    {
        "id": "5e3417dd3ab9f9a9",
        "type": "function",
        "z": "5d2ab3a95d5847f9",
        "name": "prepare zadd request",
        "func": "const p = msg.payload || {};\nconst key = msg.topic.replace(/\\//g, \":\");\n\nconst score = p.event_ts ? Date.parse(p.event_ts) : Date.now();\nif (!Number.isFinite(score)) return null;\n\nconst member = JSON.stringify({\n  ts: p.event_ts,\n  type: p.type,\n  unit: p.unit,\n  value: p.value,\n  sessionId: p.sessionId\n});\n\nmsg.payload = [ key, String(score), member ];\ndelete msg.topic;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 360,
        "wires": [
            [
                "6ba801e76c4e95d0"
            ]
        ]
    },
    {
        "id": "eac9b4263652f19e",
        "type": "http request",
        "z": "5d2ab3a95d5847f9",
        "name": "send http request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2350,
        "y": 540,
        "wires": [
            [
                "9d783a8579fa97d6"
            ]
        ]
    },
    {
        "id": "6d9ba8b04a2e2ad1",
        "type": "redis-command",
        "z": "5d2ab3a95d5847f9",
        "server": "fdba33394fbf0491",
        "command": "GET",
        "name": "get",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 450,
        "y": 480,
        "wires": [
            [
                "8980c681befc0987"
            ]
        ]
    },
    {
        "id": "6ba801e76c4e95d0",
        "type": "redis-command",
        "z": "5d2ab3a95d5847f9",
        "server": "fdba33394fbf0491",
        "command": "ZADD",
        "name": "redis zadd",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1870,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ae29fd22ec74076c",
        "type": "json-full-schema-validator",
        "z": "5d2ab3a95d5847f9",
        "name": "validation",
        "property": "payload",
        "propertyType": "msg",
        "func": "{\n  \"title\": \"Heart rate sensor data\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_ts\": { \"type\": \"string\", \"format\": \"date-time\" },\n    \"type\": { \"type\": \"string\", \"enum\": [\"heart_rate\"] },\n    \"unit\": { \"type\": \"string\", \"enum\": [\"bpm\"] },\n    \"value\": { \"type\": \"number\"},\n    \"sessionId\": { \"type\": \"string\" }\n  },\n  \"required\": [\"event_ts\",\"type\",\"unit\",\"value\",\"sessionId\"],\n  \"additionalProperties\": false\n}\n",
        "x": 1100,
        "y": 200,
        "wires": [
            [
                "0d3288fba1510b7c"
            ],
            []
        ]
    },
    {
        "id": "17e990cd9d9884bb",
        "type": "json-full-schema-validator",
        "z": "5d2ab3a95d5847f9",
        "name": "validation",
        "property": "payload",
        "propertyType": "msg",
        "func": "{\n  \"title\": \"glucose sensor data\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_ts\": { \"type\": \"string\", \"format\": \"date-time\" },\n    \"type\": { \"type\": \"string\", \"enum\": [\"glucose\"] },\n    \"unit\": { \"type\": \"string\", \"enum\": [\"mg/dL\"] },\n    \"value\": { \"type\": \"number\"},\n    \"sessionId\": { \"type\": \"string\" }\n  },\n  \"required\": [\"event_ts\",\"type\",\"unit\",\"value\",\"sessionId\"],\n  \"additionalProperties\": false\n}\n",
        "x": 1080,
        "y": 80,
        "wires": [
            [
                "c7cf341ec53f2bbc"
            ],
            []
        ]
    },
    {
        "id": "7070b843977287f6",
        "type": "json-full-schema-validator",
        "z": "5d2ab3a95d5847f9",
        "name": "validation",
        "property": "payload",
        "propertyType": "msg",
        "func": "{\n  \"title\": \"blood_pressure_sys sensor data\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_ts\": { \"type\": \"string\", \"format\": \"date-time\" },\n    \"type\": { \"type\": \"string\", \"enum\": [\"blood_pressure_sys\"] },\n    \"unit\": { \"type\": \"string\", \"enum\": [\"mmHg\"] },\n    \"value\": { \"type\": \"number\"},\n    \"sessionId\": { \"type\": \"string\" }\n  },\n  \"required\": [\"event_ts\",\"type\",\"unit\",\"value\",\"sessionId\"],\n  \"additionalProperties\": false\n}\n",
        "x": 1060,
        "y": 360,
        "wires": [
            [
                "70b9ac6f1a8834af"
            ],
            []
        ]
    },
    {
        "id": "f82c8bc9b3c89540",
        "type": "json-full-schema-validator",
        "z": "5d2ab3a95d5847f9",
        "name": "validation",
        "property": "payload",
        "propertyType": "msg",
        "func": "{\n  \"title\": \"blood_pressure_dia sensor data\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_ts\": { \"type\": \"string\", \"format\": \"date-time\" },\n    \"type\": { \"type\": \"string\", \"enum\": [\"blood_pressure_dia\"] },\n    \"unit\": { \"type\": \"string\", \"enum\": [\"mmHg\"] },\n    \"value\": { \"type\": \"number\"},\n    \"sessionId\": { \"type\": \"string\" }\n  },\n  \"required\": [\"event_ts\",\"type\",\"unit\",\"value\",\"sessionId\"],\n  \"additionalProperties\": false\n}\n",
        "x": 1060,
        "y": 500,
        "wires": [
            [
                "4537251eb751010c"
            ],
            []
        ]
    },
    {
        "id": "e272d83a930e4d82",
        "type": "json-full-schema-validator",
        "z": "5d2ab3a95d5847f9",
        "name": "validation",
        "property": "payload",
        "propertyType": "msg",
        "func": "{\n  \"title\": \"body_temperature sensor data\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_ts\": { \"type\": \"string\", \"format\": \"date-time\" },\n    \"type\": { \"type\": \"string\", \"enum\": [\"body_temperature\"] },\n    \"unit\": { \"type\": \"string\", \"enum\": [\"°C\"] },\n    \"value\": { \"type\": \"number\"},\n    \"sessionId\": { \"type\": \"string\" }\n  },\n  \"required\": [\"event_ts\",\"type\",\"unit\",\"value\",\"sessionId\"],\n  \"additionalProperties\": false\n}\n",
        "x": 1140,
        "y": 640,
        "wires": [
            [
                "217762caf1864988"
            ],
            []
        ]
    },
    {
        "id": "20d09590ab114110",
        "type": "json-full-schema-validator",
        "z": "5d2ab3a95d5847f9",
        "name": "validation",
        "property": "payload",
        "propertyType": "msg",
        "func": "{\n  \"title\": \"spo2 sensor data\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_ts\": { \"type\": \"string\", \"format\": \"date-time\" },\n    \"type\": { \"type\": \"string\", \"enum\": [\"spo2\"] },\n    \"unit\": { \"type\": \"string\", \"enum\": [\"%\"] },\n    \"value\": { \"type\": \"number\"},\n    \"sessionId\": { \"type\": \"string\" }\n  },\n  \"required\": [\"event_ts\",\"type\",\"unit\",\"value\",\"sessionId\"],\n  \"additionalProperties\": false\n}\n",
        "x": 1060,
        "y": 920,
        "wires": [
            [
                "856e17746a56f3f5"
            ],
            []
        ]
    },
    {
        "id": "7f5aa84dea703d64",
        "type": "json-full-schema-validator",
        "z": "5d2ab3a95d5847f9",
        "name": "validation",
        "property": "payload",
        "propertyType": "msg",
        "func": "{\n  \"title\": \"respiratory_rate sensor data\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_ts\": { \"type\": \"string\", \"format\": \"date-time\" },\n    \"type\": { \"type\": \"string\", \"enum\": [\"respiratory_rate\"] },\n    \"unit\": { \"type\": \"string\", \"enum\": [\"breaths/min\"] },\n    \"value\": { \"type\": \"number\"},\n    \"sessionId\": { \"type\": \"string\" }\n  },\n  \"required\": [\"event_ts\",\"type\",\"unit\",\"value\",\"sessionId\"],\n  \"additionalProperties\": false\n}\n",
        "x": 1120,
        "y": 780,
        "wires": [
            [
                "a7cec0324cad1d34"
            ],
            []
        ]
    },
    {
        "id": "856e17746a56f3f5",
        "type": "function",
        "z": "5d2ab3a95d5847f9",
        "name": "filter",
        "func": "const minVal = parseFloat(env.get(\"SPO2_MIN\"));\nconst maxVal = parseFloat(env.get(\"SPO2_MAX\"));\n\nconst val = parseFloat(msg.payload.value);\n\nif (isNaN(val)) return null;\nif (val < minVal || val > maxVal) return null;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 920,
        "wires": [
            [
                "5e3417dd3ab9f9a9",
                "7431ec1a536d8836"
            ]
        ]
    },
    {
        "id": "9d783a8579fa97d6",
        "type": "debug",
        "z": "5d2ab3a95d5847f9",
        "name": "status code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "statusCode",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2550,
        "y": 540,
        "wires": []
    },
    {
        "id": "7431ec1a536d8836",
        "type": "function",
        "z": "5d2ab3a95d5847f9",
        "name": "get offline mode",
        "func": "const { payload, topic, ...otherProps } = msg;\n\nreturn {\n    ...otherProps,\n    sensorData: payload,\n    sensorTopic: topic,\n    command: \"GET\",\n    topic: \"offlineMode\",\n    params: [],\n    payload: null\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 540,
        "wires": [
            [
                "03bf40bc86060fd2"
            ]
        ]
    },
    {
        "id": "03bf40bc86060fd2",
        "type": "redis-command",
        "z": "5d2ab3a95d5847f9",
        "server": "fdba33394fbf0491",
        "command": "GET",
        "name": "get",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1810,
        "y": 540,
        "wires": [
            [
                "95ebfa7f6c976fb3"
            ]
        ]
    },
    {
        "id": "95ebfa7f6c976fb3",
        "type": "function",
        "z": "5d2ab3a95d5847f9",
        "name": "merge result",
        "func": "const getOffline = msg.payload;\nif (getOffline === 'true') return null;\nmsg.payload = msg.sensorData;\nmsg.topic = msg.sensorTopic;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 540,
        "wires": [
            [
                "fcbe1a2b8e8539de"
            ]
        ]
    },
    {
        "id": "a19f94fe3a2a6e38",
        "type": "inject",
        "z": "af2d12934ad47d49",
        "name": "polling",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "1b2535860b51cd1c"
            ]
        ]
    },
    {
        "id": "1b2535860b51cd1c",
        "type": "function",
        "z": "af2d12934ad47d49",
        "name": "prepare helath request",
        "func": "const baseUrl = env.get(\"API_BASE_URL\");\nconst deviceId = env.get(\"DEVICE_ID\");\nconst apiKey = env.get(\"API_KEY\");\n\nreturn {\n    ...msg,\n    rejectUnauthorized: false,\n    method: \"POST\",\n    url: `${baseUrl}/health`,\n    headers: { \n        \"Content-Type\": \"application/json\",\n        \"Authorization\": apiKey \n    },\n    payload: { deviceId }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "2c4493312dea9c91"
            ]
        ]
    },
    {
        "id": "2c4493312dea9c91",
        "type": "http request",
        "z": "af2d12934ad47d49",
        "name": "send health request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 180,
        "wires": [
            [
                "854085c2d6b8c249"
            ]
        ]
    },
    {
        "id": "854085c2d6b8c249",
        "type": "debug",
        "z": "af2d12934ad47d49",
        "name": "status code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "statusCode",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 180,
        "wires": []
    }
]